# cache, notebooks stuff
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
*.DS_STORE

# LOGS
MUJOCO_LOG.TXT
results_g1_inspection.txt

# settings and models   
.vscode/
models/ 

# keep docs local 
report/ 
docs/

# keep tests local for now 
tests/
*.sh
full.py

# Store backups locally 
backup/
*.zip

# plots 
plots_g1/
logs.txt